---
layout: page
title: DentalPix
permalink: /
---

<div class="hero-area pt-4 pt-lg-5">
    <div class="float-shapes">
    </div>
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-md-8 col-lg-7 offset-lg-2">
                <h1 class="main-title">{{site.data.landing.hero_title}}</h1>

            </div>
            <div class="col-md-8 col-lg-6 offset-lg-2">
                <div class="hero-content-wrapper">
                    <div class="main-content">
                        <p>
                            {{site.data.landing.hero_subtitle}}
                        </p>

                    </div>
                    <div class="compatible">
                        <span>Compitable with:</span>
                        <ul class="compatible-list">
                            <li class="list-item"><img src="assets/images/compatible-1.png" alt=""></li>
                            <li class="list-item"><img src="assets/images/compatible-2.png" alt=""></li>
                            <li class="list-item"><img src="assets/images/compatible-3.png" alt=""></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 pt-lg-5">
                <div class="hero-btn">
                    <a href="#form" class="btn btn--primary btn-height-60">Scopri di più</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="hero-img">
                    <img src="assets/images/laptop-image.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Feature Area-->
<section class="feature-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>{{site.data.landing.feature_title}}</h2>
                    <h3 class="title-small-text">{{site.data.landing.feature_subtitle}}</h3>
                    <p>
                        {{site.data.landing.feature_description}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row mb-d-30">
                    <div class="col-sm-6 mb--30">
                        <div class="feature-widget">
                            <div class="widget-icon">
                                <i class="icon icon-edit-72"></i>
                            </div>
                            <div class="content">
                                <h5>Scarica e archivia in blocco</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb--30">
                        <div class="feature-widget">
                            <div class="widget-icon">
                                <i class="icon icon-layers-3"></i>
                            </div>
                            <div class="content">
                                <h5>Assegna automaticamente le fotografie ad ogni singolo paziente</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb--30">
                        <div class="feature-widget">
                            <div class="widget-icon">
                                <i class="icon icon-tablet-mobile"></i>
                            </div>
                            <div class="content">
                                <h5>Cataloga in maniera intuitiva</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb--30">
                        <div class="feature-widget">
                            <div class="widget-icon">
                                <i class="icon icon-book-open-2"></i>
                            </div>
                            <div class="content">
                                <h5>Creazione automatica di report paziente</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb--30">
                        <div class="feature-widget">
                            <div class="widget-icon">
                                <i class="icon icon-webpage"></i>
                            </div>
                            <div class="content">
                                <h5>Edit automatico delle immagini</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb--30">
                        <div class="feature-widget">
                            <div class="widget-icon">
                                <i class="icon icon-l-settings"></i>
                            </div>
                            <div class="content">
                                <h5>Sicura</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Area 01-->
<section class="content-section content-section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="content-image">
                    <img src="assets/images/content-image-1.png" alt="">
                </div>
            </div>

            <div class="col-lg-7 offset-lg-1 col-md-6">
                <div class="content-right-content">
                    <h2>{{site.data.landing.download_feature.title}}</h2>
                    <p>
                        {{site.data.landing.download_feature.description}}
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Area 02 -->
<section class="content-section content-section-02">
    <div class="container">
        <div class="row ">
            <div class="col-xl-4 col-sm-10 col-md-6 col-10 order-md-2 offset-xl-1 d-md-block">
                <div class="content-image">
                    <img src="assets/images/content-image-2.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-sm-12 col-md-6 order-md-1">
                <div class="content-text content-left-content">
                    <h2>{{site.data.landing.patients_feature.title}}</h2>
                    <p>
                        {{site.data.landing.patients_feature.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Area 03-->
<section class="content-section content-section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-sm-8">
                <div class="content-image">
                    <img src="assets/images/content-image-1.png" alt="">
                </div>
            </div>

            <div class="col-lg-7 offset-lg-1 col-md-6">
                <div class="content-right-content">
                    <h2>{{site.data.landing.catalogue_feature.title}}</h2>
                    <p>
                        {{site.data.landing.catalogue_feature.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Area 04 -->
<section class="content-section content-section-02">
    <div class="container">
        <div class="row ">
            <div class="col-xl-4 col-sm-10 col-md-6 col-10 order-md-2 offset-xl-1 d-md-block">
                <div class="content-image">
                    <img src="assets/images/content-image-2.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-sm-12 col-md-6 order-md-1">
                <div class="content-text content-left-content">
                    <h2>{{site.data.landing.find_feature.title}}</h2>
                    <p>
                        {{site.data.landing.find_feature.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Area 05-->
<section class="content-section content-section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-sm-8">
                <div class="content-image">
                    <img src="assets/images/content-image-1.png" alt="">
                </div>
            </div>

            <div class="col-lg-7 offset-lg-1 col-md-6">
                <div class="content-right-content">
                    <h2>{{site.data.landing.report_feature.title}}</h2>
                    <p>
                        {{site.data.landing.report_feature.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Area 06 -->
<section class="content-section content-section-02">
    <div class="container">
        <div class="row ">
            <div class="col-xl-4 col-sm-10 col-md-6 col-10 order-md-2 offset-xl-1 d-md-block">
                <div class="content-image">
                    <img src="assets/images/content-image-2.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-sm-12 col-md-6 order-md-1">
                <div class="content-text content-left-content">
                    <h2>{{site.data.landing.everywhere_feature.title}}</h2>
                    <p>
                        {{site.data.landing.everywhere_feature.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Cta Section -->
<section class="cta-section" id="form">
    <div class="container">
        <div class="cta-inner-wrapper">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="cta-content">
                        <span class="title-small-text">{{site.data.landing.contact_section.take_action}}</span>
                        <h2> {{site.data.landing.contact_section.title}}</h2>
                        <p>
                            {{site.data.landing.contact_section.description}}
                        </p>
                        <form
                            action="https://formspree.io/f/xwkwyobg"
                            method="POST"
                        >
                            <label for="">
                                {{site.data.landing.contact_section.form.mail_label}}
                                <input
                                    name="email"
                                    required
                                    id="email"
                                    type="email">
                            </label>
                            <label for="">
                                {{site.data.landing.contact_section.form.specialisation_label}}
                                <select name="spec" id="spec" required>
                                    <option disabled selected value> Seleziona </option>
                                    {% for opt in site.data.landing.contact_section.form.specialisation_options %}
                                    <option value="{{opt.value}}">
                                        {{opt.label}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </label>
                            <div class="cta-btn">
                                <button type="submit" class="btn btn-outlined--white btn-with-icon btn-height-60"><i
                                        class="icon icon-cloud-download-95"></i> Invia
                                </button>
                                <p class="extra-info-text"></p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>