
<section class="footer-section">
  <div class="container">
      <!-- <div class="row align-items-center text-center">
          <div class="col-lg-2 col-md-3 ">
              <div class="footer-logo">
                  <img src="image/footer-logo.png" alt="">
              </div>
          </div>

          <div class="col-lg-6 col-md-6  offset-lg-1">
              <ul class="nav footer-nav">
                  <li class="nav-item">
                      <a class="nav-link active" href="#">About </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"> Works</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Career</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                  </li>
              </ul>
          </div>


          <div class="col-lg-2 col-md-3 offset-lg-1">
              <ul class="footer-social-list">
                  <li>
                      <a href="">
                          <i class="icon icon-logo-fb-simple"></i>
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <i class="icon icon-logo-twitter"></i>
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <i class="icon icon-google"></i>
                      </a>
                  </li>
              </ul>
          </div>

      </div> -->
      <div class="copyright">
          <p>©2019 All right reserved. </p>
      </div>
  </div>
</section>