<header class="site-header">
  <div class="container">
      <div class="row justify-content-between align-items-center position-relative">
          <div class="col">
              <div class="brand">
                  <a href=""><img src="assets/images/main-logo.svg" alt="" /></a>
                  <span class="product-name ">DentalPix</span>
              </div>
          </div>

          <div class="">
              <div class="header-btns">
                  <div class="btn-1 btn-outlined">
                      <a href="#form">Contact</a>
                  </div>
                  <!-- <div class="btn-2">
                      <a href="#">Download trial</a>
                  </div> -->
              </div>
          </div>

          <!-- <div class="col-sm-1 col-6 col-lg-7 col-xl-6 position-static order-lg-2">
              <div class="main-navigation">
                  <ul class="main-menu">
                      <li class="menu-item has-dropdown">
                          <a href="#features">Free Landing Pages</a>
                              <ul class="menu-dropdown">
                                  <li class="single-item">
                                      <a href="../s01/index.html">
                                      <h3>Mobile Application</h3>
                                      <p>Best for Mobile App Presentation</p>
                                      </a>
                                  </li>
                                  <li class="single-item">
                                      <a href="../s02/index.html">
                                          <h3>Web Application</h3>
                                          <p>Best for Mobile App Presentation</p>
                                      </a>
                                  </li>
                                  <li class="single-item">
                                      <a href="../s03/index.html">
                                          <h3>SaaS Application</h3>
                                      <p>Best for Mobile App Presentation</p>
                                  </a>
                                  </li>
                                  <li class="single-item">
                                      <a href="../s04/index.html">
                                              <h3> SaaS Subscription</h3>
                                          <p>Best for Mobile App Presentation</p>
                                      </a>
                                  </li>
                              </ul>
                          </li>
                      <li class="menu-item "><a href="#features">Features</a></li>

                      <li class="menu-item"><a href="#">Services</a></li>

                      <li class="menu-item"><a href="#pricing">Pricing</a></li>

                      <li class="menu-item"><a href="#contact">Contact</a></li>
                      </ul>
              </div>
              <div class="mobile-menu"></div>
          </div> -->

      </div>
  </div>
</header>
