form {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-bottom: 30px;
}

input, select {
    display: block;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    border: 0;
    width: 100%;
    margin-top: 15px;
}