<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="landing-wrapper">

      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>

  </body>

</html>
